{% extends "layout.html" %}
{% block body %}
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Upload photo (*.png, *.jpg, *.jpeg)</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="file" id="file">
              <label class="custom-file-label" for="file">Select image...</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>
  </div>
  {% if url_path %}
    <div class="card mt-3">
      <div class="card border-light p-3">
        <p class="alert-success p-3">
          Number of detected faces: <strong>{{ bboxes|length }}</strong>
          <span class="ml-4">Elapsed time: <strong>{{ elapsed_time }} sec</strong></span>
          <span class="ml-4">Boxes: <strong>{{ bboxes }}</strong></span>
        </p>
        <img src="{{ url_path }}" class="rounded mx-auto d-block img-thumbnail" alt="photo">
      </div>
    </div>
  {% endif %}
{% endblock %}
