<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Face Detection and Recognition Demo
  </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1><a class="card-title card-link" href="/">Face ME</a></h1>
      <i>Face Detection and Recognition</i>
    </div>
    <div class="card-body">
      {% include 'includes/message.html' %}
      {% block body %}{% endblock %}
    </div>
  </div>
</div>
<footer class="align-bottom text-right">
  <div class="container">
    <span class="text-muted small">
      Powered by <a href="https://waverleysoftware.com">Waverley Software</a> Team |
      Copyright &copy; 2020.
    </span>
  </div>
</footer>
<script>
  $('#file').change(function(){
    var fileName = $(this).val();
    $(this).next('.custom-file-label').html(fileName);
  })
</script>
</body>
</html>
